* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  overflow: auto;
  background-image: url("./assets/an-image-of-resembling-lines-of-code-can-c-upscaled.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-color: #fdfefe;
  font-family: "Cambria";
  font-size: 18px;
}

.loadigContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}