aside {
  left: 80% !important;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: "1px solid";
  cursor: "pointer";
  display: inline-block;
  height: 100vh;
  top: 0% !important;
  position: fixed;
  width: 25%;
  header {
    margin: 0 !important;
    background-color: rgba(255, 255, 255, 0.2);
    // backdrop-filter: blur(5px);
    // border: "1px solid";
    // cursor: "pointer";
    // height: 11.5%;
    padding: 0 15px;
    width: 100%;
    img,
    p {
      display: inline-block;
      vertical-align: middle;

    }
    img {
      border-radius: 50%;
    }
  }
  .profile-picture {
    height: 25%;
    width: 15%;
    right: 10% !important;
  }
}


