
.project-image{
    height: 20rem;
}

.content {
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
}

.project-card {
  background-color: #d6c1c18e;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
}


.ImageListItemBar {
  transition: height 0.3s;
  display: block;
}

.ImageListItemBar:hover {
  height: 100%;
  display: block;
}

.ImageListItemBar .description {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
}

.ImageListItemBar:hover .description {
  white-space: normal;
  display: block;
}
